doctype html
html(lang="en")
    head
        title= 'SmartRecruiters SLA Management App - Login'
        link(rel="stylesheet", href="https://css-www.smartrecruiters.com/analytics/static/0.550.0/css/operational-analytics.min.css")
        script(type='text/javascript').
    body
        .app
            header.app-header
                .wrapper
                    .app-header-content
                        a.app-header-logo.link--block
                            i.sr-logo.sr-logo--main
                            span.display--inline.margin--left--m.text--uppercase.font--bold SLA Management

            .app-container
                div
                    .wrapper
                        .grid--gutter
                            .column.wide-4of14.medium-1of4
                            .column.wide-6of14.medium-2of4

                                .box.box--wide
                                    div.padding--m
                                        form(method="post" action="/login")
                                            p Please provide API Key
                                            .form-row.button-container--left.button--minwidth
                                                input.element--input(placeholder="API key", value="", name="apiKey", id="apiKey")

                                                button.button.button--primary.margin--horizontal--s.button--minwidth(type="submit") Login