doctype html
html(lang="en", ng-app="srSlaManagement")
    head
        title= 'SmartRecruiters SLA Management App - My jobs'
        link(rel="stylesheet", href="https://css-www.smartrecruiters.com/analytics/static/0.550.0/css/operational-analytics.min.css")
        script(type='text/javascript').

        script(src='/js/libs.js', type="text/javascript")
        script(src='/js/app.js', type="text/javascript")
    body
        .app
            header.app-header
                .wrapper
                    .app-header-content
                        a.app-header-logo.link--block
                            i.sr-logo.sr-logo--main
                            span.display--inline.margin--left--m.text--uppercase.font--bold SLA Management

            .app-container
                div
                    .wrapper
                        .grid--gutter
                            .toolbar.toolbar--secondary.toolbar--wide
                                .grid--gutter.grid--middle
                                    .column.wide-6of14.medium-1of2
                                        p My jobs
                            .box.box--wide
                                jobs-list(user="")
