doctype html
html(lang="en")
    head
        title= 'SmartRecruiters SLA Management App - Login'
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        script(type='text/javascript').
    body.text-center
        .container
            .row.justify-content-md-center
                form.form-signin.mt-5

                    h1.h3.mb-2 SLA Management
                    img.mb-5(src="/logo-sr.png", title="Smartrecruiters")

                    p.h6.mb-3.font-weight-normal Please provide API Key

                    input.form-control.mb-4(placeholder="API key", value="")

                    button.btn.btn-lg.btn-secondary.btn-block.mb-3(type="submit") Login